// main colors   
$mainBackground: #27182b;
$componentBackground: #422a49;
$componentShadowColor: #4b005e;
$tooltipColor: #5E0042;
$white: #F9F6EE;

//secondary colors
$secondaryColor: #2A4942;
$secondaryHoverColor: #30534b;

// text colors
$mainText: #F9F6EE;
$secondaryText: #edd1ff;
