@import '@/styles/variables.scss';

.InfoList {
  background-color: $componentBackground;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: 5px;
  padding: 10px;
  font-size: 14px;
  filter: drop-shadow(0px 0px 30px trasparent);
  transition: filter 0.2s ease-in;

  &:hover {
    filter: drop-shadow(0px 0px 30px $componentShadowColor);
  }

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 10px;
  }

  h1 {
    font-size: 16px;
  }

  .ListElements {
    overflow-y: auto;

    .List {
      .ListLabel {
        font-weight: bold;
      }
      ul {
        list-style-type: circle;
        padding: 0 0 0 25px;
      }

    }
  }
}
