@import '@/styles/variables.scss';

.BasedIn {
  background-color: $componentBackground;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  filter: drop-shadow(0px 0px 30px trasparent);
  transition: filter 0.2s ease-in;

  &:hover {
    filter: drop-shadow(0px 0px 30px $componentShadowColor);
  }

  .TextRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h1 {
      display: inline-block;
      font-size: $largeTextSize;
      font-weight: bold;
      margin: 0;
    }

    span {
      padding-left: 15px;
    }
  }

  .MainRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 32px;
      font-weight: bold;
    }

    .Icon {
      width: 64px;
    }
  }
}
