@import '@/styles/variables.scss';

.Overview {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.6fr;
  grid-template-rows: 1fr max-content;
  gap: 20px 20px;
  height: fit-content;
  grid-template-areas: 
  "AboutMe Education BasedIn"
  "Experience TechStack Project";

  .AboutMe {
    grid-area: AboutMe;
  }
  .Education { 
    grid-area: Education; 
  }
  .BasedIn { 
    grid-area: BasedIn; 
  }
  .Experience { 
    grid-area: Experience; 
    max-height: 500px;
  }
  .TechStack { 
    grid-area: TechStack; 
    width: 100%;
    max-height: 500px;
  }
  .Project { 
    grid-area: Project; 
  }
}

@media screen and (max-width: $desktop) {
  .Overview {
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: repeat(5, max-content);
    grid-template-areas: 
    "AboutMe BasedIn"
    "Education Education"
    "Experience Experience"
    "TechStack TechStack"
    "Project Project";

    .Experience {
      max-height: unset;
    }

    .TechStack {
      max-height: unset;
    }
  }
}

@media screen and (max-width: $tablet) {
  .Overview {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, max-content);
    grid-template-areas:
    "AboutMe"
    "BasedIn"
    "Education"
    "Experience"
    "TechStack"
    "Project";
  }
}

